/* This disables the rounded left corner on row 1. Because of IE7's broken box-model,
the rounded right corner falls off the right edge of the row. The issue needs
revisiting, but in the meantime this is better than mismatched corners. */
ul.row1 { 
	background:none;
}

/* A small bit of spacing above the select, which is a slight
improvement at the default text size. */
ul.zTabs select {
	margin-top:0.1000em;
}


/* Line height does no good here in IE7, so use height. */
ul.zTabs span {
	height:2em;
}


/* The close button lines up differently in IE7 than in other browsers. */
ul.zTabs li a.closeTabButton img,
ul.zTabs li span.closeTabButton img {
	margin-top:0.6000em
}

