html {
     font-size: 100%;
     height: 100%;
}

body {
     background: none repeat scroll 0pt 0pt #666666;
     font-family: Arial,"MS Trebuchet",sans-serif;
     font-size: 62.5%;
     height: 100%;
     margin: 0pt;
     padding: 0pt;
     text-align: center;
}

body.fullwidth {
     background: url("../images/custom_background.gif") no-repeat scroll 0pt 0pt #000066;
}

#body-decoration {
     left: 0pt;
     min-height: 100%;
     position: fixed;
     top: 0pt;
     width: 100%;
     z-index: 3;
}

#body-decoration2 {
     border-top: 0.1em solid black;
     height: 3.3em;
     left: 0pt;
     position: absolute;
     top: 0pt;
     width: 100%;
     z-index: 10;
}

#pageWrapper {
     margin: auto;
     min-height: 100%;
     position: relative;
     text-align: left;
     width: 89em;
}

body.fullwidth #pageWrapper {
     width: auto;
}

body.fullwidth #pageWrapper, body.fullheight #pageWrapper {
     background: url("../images/pagewrapper_bg.gif") repeat-x scroll 0pt 64em transparent;
}

div#topWrapper {
     background: url("../images/pagewrapper_bg.gif") repeat-x scroll 0pt 6em transparent;
}

#header {
     background-image: url("../images/header_glow.png");
     background-position: center center;
     background-repeat: repeat-y;
     min-height: 5.5em;
     overflow: auto;
}

#header, #header a {
     color: #DDDDDD;
}

#logo {
     background: url("../images/generic_logo.png") no-repeat scroll center bottom transparent;
     height: 5.7em;
     left: 0pt;
     position: absolute;
     top: -0.9em;
     width: 9em;
     z-index: 20;
}

#header #titleBlock {
     float: left;
     margin-left: 9em;
     padding-top: 1em;
     position: relative;
     z-index: 20;
}

#header #titleBlock .title {
     font-size: 2.2em;
     padding-right: 1em;
}

#header #titleBlock .subTitle {
     font-size: 1.1em;
}

#header #userBlock {
     float: right;
     padding-right: 1.2em;
     padding-top: 1.1em;
     position: relative;
     text-align: right;
     z-index: 20;
}

#header #userBlock .username {
     font-size: 1.65em;
}

#header #userBlock .loginout {
     font-size: 1.1em;
}

#tabNavigation {
     background: url("../images/menu_bar.gif") no-repeat scroll left top transparent;
     position: relative;
     z-index: 5;
}

#tabNavigation.scrollingNav {
     background-image: url("../images/menu_bar_wide.gif");
}

body.fullwidth #tabNavigation {
     background: url("../images/menu_bar_wide.gif") repeat-x scroll left top transparent;
}

#tabNavigation a, #tabNavigation span {
     border-left: 0.1em solid transparent;
}

#tabNavigation li a:first-child, #tabNavigation li span:first-child {
    
}

#tabNavigation ul {
     margin: 0pt;
}

#tabNavigation ul.row1 {
}

#tabNavigation ul.row1.scrollingNav {
     background-image: url("../images/menu_bar_wide.gif");
}

body.fullwidth #tabNavigation ul.row1 {
     background: none repeat scroll 0pt 0pt transparent;
}

#tabNavigation ul.currentSubTabs {
     border-bottom: 0.1em solid #B6B6B6;
     margin: 0pt;
     padding-left: 2em;
     padding-top: 0.7em;
}

#tabNavigation ul.currentSubTabs li {
    
}

#tabNavigation ul.row2 {
     background: -moz-linear-gradient(center top , #FFFFFF, #F1F1F1) repeat scroll 0pt 0pt transparent;
     border-left: 1px solid #B6B6B6;
     border-right: 1px solid #B6B6B6;
}

.hiddenTab {
     display: none;
}

.hiddenTabContent {
     display: none;
}

.overflowTab select {
     width: 7.2em;
}

#tabNavigation ul.row1 li:hover span, #tabNavigation ul.currentSubTabs li:hover span, #tabNavigation ul.row1 li:hover a, #tabNavigation ul.currentSubTabs li:hover a {
    
}

#tabNavigation ul.row1 li.disableHover:hover span, #tabNavigation ul.row1 li.disableHover:hover a, #tabNavigation ul.currentSubTabs li.disableHover:hover span, #tabNavigation ul.currentSubTabs li.disableHover:hover a {
     background: none repeat scroll 0pt 0pt #FFFFFF;
     color: #313131;
}

#tabNavigation ul.row1 li.current:hover span, #tabNavigation ul.row1 li.current:hover a, #tabNavigation ul.currentSubTabs li.current:hover span, #tabNavigation ul.currentSubTabs li.current:hover a, #tabNavigation ul.row1 li.currentWithSecondRow:hover span, #tabNavigation ul.row1 li.currentWithSecondRow:hover a, #tabNavigation ul.currentSubTabs li.currentWithSecondRow:hover span, #tabNavigation ul.currentSubTabs li.currentWithSecondRow:hover a {
     background: none repeat scroll 0pt 0pt #FFFFFF;
     color: #313131;
}

#tabNavigation ul.row1 li.overflowCurrent:hover span, #tabNavigation ul.row1 li.overflowCurrent:hover a, #tabNavigation ul.currentSubTabs li.overflowCurrent:hover span, #tabNavigation ul.currentSubTabs li.overflowCurrent:hover a, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow:hover span, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow:hover a, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow:hover span, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow:hover a {
     background: none repeat scroll 0pt 0pt #FFFFFF;
     color: #313131;
}

#tabNavigation ul.row1 li.loading:hover span, #tabNavigation ul.row1 li.loading:hover a, #tabNavigation ul.currentSubTabs li.loading:hover span, #tabNavigation ul.currentSubTabs li.loading:hover a, #tabNavigation ul.row1 li.loadingWithSecondRow:hover span, #tabNavigation ul.row1 li.loadingWithSecondRow:hover a, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow:hover span, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow:hover a {
     background: none repeat scroll 0pt 0pt transparent;
     color: #000066;
}

#tabNavigation ul.row1 li.pending a, #tabNavigation ul.currentSubTabs li.pending a {
    
}

#tabNavigation ul.row1 li.current, #tabNavigation ul.currentSubTabs li.current, #tabNavigation ul.row1 li.loading, #tabNavigation ul.currentSubTabs li.loading, #tabNavigation ul.row1 li.overflowCurrent, #tabNavigation ul.currentSubTabs li.overflowCurrent {
    
}

#tabNavigation ul.row1 li.current span, #tabNavigation ul.row1 li.current a, #tabNavigation ul.currentSubTabs li.current span, #tabNavigation ul.currentSubTabs li.current a, #tabNavigation ul.row1 li.overflowCurrent span, #tabNavigation ul.row1 li.overflowCurrent a, #tabNavigation ul.currentSubTabs li.overflowCurrent span, #tabNavigation ul.currentSubTabs li.overflowCurrent a, #tabNavigation ul.row1 li.loading span, #tabNavigation ul.row1 li.loading a, #tabNavigation ul.currentSubTabs li.loading span, #tabNavigation ul.currentSubTabs li.loading a {
    
}

#tabNavigation ul.row1 li.currentWithSecondRow, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow, #tabNavigation ul.row1 li.loadingWithSecondRow {
    
}

#tabNavigation ul.currentSubTabs li.currentWithSecondRow, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow {
     background: none repeat scroll 0pt 0pt #656565;
}

#tabNavigation ul.row1 li.currentWithSecondRow span, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow span, #tabNavigation ul.row1 li.loadingWithSecondRow span, #tabNavigation ul.row1 li.currentWithSecondRow a, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow a, #tabNavigation ul.row1 li.loadingWithSecondRow a {
    
}

#tabNavigation ul.currentSubTabs li.currentWithSecondRow span, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow span, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow span, #tabNavigation ul.currentSubTabs li.currentWithSecondRow a, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow a, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow a {
    
}

#tabNavigation ul.row1 li:hover a.closeTabButton, #tabNavigation ul.row1 li:hover span.closeTabButton, #tabNavigation ul.currentSubTabs li:hover a.closeTabButton, #tabNavigation ul.currentSubTabs li:hover span.closeTabButton {
    
}

#tabNavigation ul.row1 li:hover a.refreshTabButton, #tabNavigation ul.row1 li:hover span.refreshTabButton, #tabNavigation ul.currentSubTabs li:hover a.refreshTabButton, #tabNavigation ul.currentSubTabs li:hover span.refreshTabButton {
    
}

#tabNavigation ul.row1 li:hover a.refreshTabButton:first-child, #tabNavigation ul.row1 li:hover span.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs li:hover a.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs li:hover span.refreshTabButton:first-child {
    
}

#tabNavigation ul.row1 li:hover a.closeTabText, #tabNavigation ul.row1 li:hover span.closeTabText, #tabNavigation ul.currentSubTabs li:hover a.closeTabText, #tabNavigation ul.currentSubTabs li:hover span.closeTabText {
    
}

#tabNavigation ul.row1 a.closeTabButton, #tabNavigation ul.row1 li.current a.closeTabButton, #tabNavigation ul.row1 li.overflowCurrent a.closeTabButton, #tabNavigation ul.row1 li.loading a.closeTabButton, #tabNavigation ul.row1 li.currentWithSecondRow a.closeTabButton, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow a.closeTabButton, #tabNavigation ul.row1 li.loadingWithSecondRow a.closeTabButton, #tabNavigation ul.currentSubTabs a.closeTabButton, #tabNavigation ul.currentSubTabs li.current a.closeTabButton, #tabNavigation ul.currentSubTabs li.overflowCurrent a.closeTabButton, #tabNavigation ul.currentSubTabs li.loading a.closeTabButton, #tabNavigation ul.currentSubTabs li.currentWithSecondRow a.closeTabButton, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow a.closeTabButton, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow a.closeTabButton {
     border-radius: 0pt 0pt 0pt 0pt;
     float: left;
     padding: 0.2em 0.2em 0pt;
}

#tabNavigation ul.row1 a.refreshTabButton, #tabNavigation ul.row1 li.current a.refreshTabButton, #tabNavigation ul.row1 li.overflowCurrent a.refreshTabButton, #tabNavigation ul.row1 li.loading a.refreshTabButton, #tabNavigation ul.row1 li.currentWithSecondRow a.refreshTabButton, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow a.refreshTabButton, #tabNavigation ul.row1 li.loadingWithSecondRow a.refreshTabButton, #tabNavigation ul.currentSubTabs a.refreshTabButton, #tabNavigation ul.currentSubTabs li.current a.refreshTabButton, #tabNavigation ul.currentSubTabs li.overflowCurrent a.refreshTabButton, #tabNavigation ul.currentSubTabs li.loading a.refreshTabButton, #tabNavigation ul.currentSubTabs li.currentWithSecondRow a.refreshTabButton, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow a.refreshTabButton, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow a.refreshTabButton {
     float: left;
     height: 2em;
     padding-right: 0.2em ! important;
}

#tabNavigation ul.row1 a.refreshTabButton:first-child, #tabNavigation ul.row1 li.current a.refreshTabButton:first-child, #tabNavigation ul.row1 li.overflowCurrent a.refreshTabButton:first-child, #tabNavigation ul.row1 li.loading a.refreshTabButton:first-child, #tabNavigation ul.row1 li.currentWithSecondRow a.refreshTabButton:first-child, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow a.refreshTabButton:first-child, #tabNavigation ul.row1 li.loadingWithSecondRow a.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs a.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs li.current a.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs li.overflowCurrent a.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs li.loading a.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs li.currentWithSecondRow a.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow a.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow a.refreshTabButton:first-child {
    
}

#tabNavigation ul.row1 li.current a.refreshTabButton:first-child, #tabNavigation ul.row1 li.overflowCurrent a.refreshTabButton:first-child, #tabNavigation ul.row1 li.loading a.refreshTabButton:first-child, #tabNavigation ul.row1 li.currentWithSecondRow a.refreshTabButton:first-child, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow a.refreshTabButton:first-child, #tabNavigation ul.row1 li.loadingWithSecondRow a.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs li.current a.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs li.overflowCurrent a.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs li.loading a.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs li.currentWithSecondRow a.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow a.refreshTabButton:first-child, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow a.refreshTabButton:first-child {
    
}

#tabNavigation ul.row1 a.closeTabButton img, #tabNavigation ul.row1 li.current a.closeTabButton img, #tabNavigation ul.row1 li.overflowCurrent a.closeTabButton img, #tabNavigation ul.row1 li.loading a.closeTabButton img, #tabNavigation ul.row1 li.currentWithSecondRow a.closeTabButton img, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow a.closeTabButton img, #tabNavigation ul.row1 li.loadingWithSecondRow a.closeTabButton img, #tabNavigation ul.currentSubTabs a.closeTabButton img, #tabNavigation ul.currentSubTabs li.current a.closeTabButton img, #tabNavigation ul.currentSubTabs li.overflowCurrent a.closeTabButton img, #tabNavigation ul.currentSubTabs li.loading a.closeTabButton img, #tabNavigation ul.currentSubTabs li.currentWithSecondRow a.closeTabButton img, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow a.closeTabButton img, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow a.closeTabButton img {
    
}

#tabNavigation ul.row1 a.refreshTabButton img, #tabNavigation ul.row1 li.current a.refreshTabButton img, #tabNavigation ul.row1 li.overflowCurrent a.refreshTabButton img, #tabNavigation ul.row1 li.loading a.refreshTabButton img, #tabNavigation ul.row1 li.currentWithSecondRow a.refreshTabButton img, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow a.refreshTabButton img, #tabNavigation ul.row1 li.loadingWithSecondRow a.refreshTabButton img, #tabNavigation ul.currentSubTabs a.refreshTabButton img, #tabNavigation ul.currentSubTabs li.current a.refreshTabButton img, #tabNavigation ul.currentSubTabs li.overflowCurrent a.refreshTabButton img, #tabNavigation ul.currentSubTabs li.loading a.refreshTabButton img, #tabNavigation ul.currentSubTabs li.currentWithSecondRow a.refreshTabButton img, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow a.refreshTabButton img, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow a.refreshTabButton img {
     margin-top: 0.5em;
}

#tabNavigation ul.row1 a.closeTabText, #tabNavigation ul.row1 span.closeTabText, #tabNavigation ul.row1 li.current a.closeTabText, #tabNavigation ul.row1 li.overflowCurrent a.closeTabText, #tabNavigation ul.row1 li.loading a.closeTabText, #tabNavigation ul.row1 li.current span.closeTabText, #tabNavigation ul.row1 li.overflowCurrent span.closeTabText, #tabNavigation ul.row1 li.loading span.closeTabText, #tabNavigation ul.row1 li.currentWithSecondRow a.closeTabText, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow a.closeTabText, #tabNavigation ul.row1 li.loadingWithSecondRow a.closeTabText, #tabNavigation ul.row1 li.currentWithSecondRow span.closeTabText, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow span.closeTabText, #tabNavigation ul.row1 li.loadingWithSecondRow span.closeTabText, #tabNavigation ul.currentSubTabs a.closeTabText, #tabNavigation ul.currentSubTabs span.closeTabText, #tabNavigation ul.currentSubTabs li.current a.closeTabText, #tabNavigation ul.currentSubTabs li.overflowCurrent a.closeTabText, #tabNavigation ul.currentSubTabs li.loading a.closeTabText, #tabNavigation ul.currentSubTabs li.current span.closeTabText, #tabNavigation ul.currentSubTabs li.overflowCurrent span.closeTabText, #tabNavigation ul.currentSubTabs li.loading span.closeTabText, #tabNavigation ul.currentSubTabs li.currentWithSecondRow a.closeTabText, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow a.closeTabText, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow a.closeTabText, #tabNavigation ul.currentSubTabs li.currentWithSecondRow span.closeTabText, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow span.closeTabText, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow span.closeTabText {
     float: left;
     padding-left: 0.2em ! important;
}

#popForwardMenu {
     background: url("../images/menu_shadow.gif") repeat-y scroll left center #B0B0C8;
     border: 0.1em solid #FFCC33;
     left: -6em;
     position: absolute;
     top: 14em;
     z-index: 4;
}

#popForwardMenu.hover {
     background: none repeat scroll 0pt 0pt #B0B0C8;
     z-index: 230;
}

#popForwardMenu.hover li.selected {
     background: none repeat scroll 0pt 0pt #FFFFFF;
     color: #000066;
     list-style-type: none;
     margin: 0pt;
     padding: 0.75em 1em;
}

#popForwardMenu li {
     list-style-type: none;
     margin: 0pt;
     padding: 0.75em 1em;
}

#popForwardMenu ul {
     list-style: none outside none;
     margin: 0pt;
     padding: 0.5em;
}

#popForwardMenu a {
     color: #000066;
     padding: 0.75em 0pt;
}

#popForwardMenu li:hover {
     background: none repeat scroll 0pt 0pt #FFCC33;
     color: #000066;
     padding: 0.75em 1em;
}

#popForwardMenu li.selected {
     background: url("../images/menu_shadow_selected.gif") repeat-y scroll left center #FFFFFF;
     color: #000066;
     list-style-type: none;
     margin: 0pt;
     padding: 0.75em 1em;
}

#ajaxLoading {
     background: url("../images/ajax-loader.gif") no-repeat scroll center center transparent;
     height: 6em;
     left: 50%;
     margin-left: -17em;
     position: absolute;
     top: 0pt;
     width: 34em;
     z-index: 200;
}

#messageWrapper {
     left: 50%;
     margin-left: -17em;
     position: fixed;
     top: 0pt;
     width: 34em;
     z-index: 201;
}

#messageToUser {
     background: url("../images/grayScreen.png") repeat scroll 0pt 0pt transparent;
     border-bottom: 0.1em solid #645F68;
     border-left: 0.1em solid #645F68;
     border-right: 0.1em solid #645F68;
     color: #F8981D;
     margin: auto;
     overflow: hidden;
     text-align: center;
     width: 100%;
     z-index: 201;
}

#messageToUser p {
     font-size: 1.4em;
     margin: 0.6em 0.6em 0pt;
}

#messageToUserClose {
     margin-bottom: 0.6em;
     margin-top: 0.8em;
}

#messageToUserClose a {
     color: #CCCCCC;
     font-size: 1.1em;
     text-decoration: none;
}

#bodyWrapper {
     background-color: white;
     min-height: 64em;
     padding-bottom: 1.4em;
     padding-top: 1.4em;
     position: relative;
     z-index: 20;
}

#mainContent {
     background: none repeat scroll 0pt 0pt #FFFFFF;
     clear: both;
     font-family: arial,helvetica;
     font-size: 12px;
     font-style: normal;
     min-height: 640px;
     padding: 0pt 20px;
}

table.striped {
     border: 1px solid #BAB3A1;
     color: #000000;
     font-family: arial;
     font-size: 12px;
     font-weight: normal;
     margin: 12px 0pt;
     width: 100%;
}

table.striped tr.even {
     background: none repeat scroll 0pt 0pt #E6E6FF;
     font-size: 12px;
}

table.striped tr.odd {
     background: none repeat scroll 0pt 0pt #FFFFFF;
     font-size: 12px;
}

table.striped td {
     padding: 4px 6px;
     width: auto;
}

table.striped th {
     background: none repeat scroll 0pt 0pt #BAB3A1;
     color: #FFFFFF;
     font-size: 12px;
     font-weight: normal;
     padding: 4px 2px 4px 18px;
     text-align: center;
     white-space: nowrap;
}

table.striped th a {
     color: #FFFFFF;
}

table.striped td a {
     color: #000000;
}

.funcName {
     color: #000099;
     font: bold 1.5em/2em Arial,sans-serif;
}

.option {
     margin-bottom: 5px;
}

.optionName {
     font: bold 1em/1.5em Arial,sans-serif;
}

.subSection {
     font: bold 1em/1.5em Arial,sans-serif;
     margin-top: 12px;
     text-decoration: underline;
}

pre.code, code {
     display: block;
     line-height: 20px;
     margin: 14px 24px;
}

code .comment, code .inlineComment {
     color: #666666;
}

code .inlineComment {
     margin-left: 14px;
}

.functionList td.first, .functionList th.first {
     width: 25%;
}

.functionList a {
     color: #000099;
     font-size: 12px;
}

.functionList {
     color: #000000;
     font-size: 12px;
}

.demoList li {
     margin: 20px;
}

table.striped th.headerSortUp {
     background: url("../images/asc.gif") no-repeat scroll 0pt 0pt #666666;
}

table.striped th.headerSortDown {
     background: url("../images/desc.gif") no-repeat scroll 0pt 0pt #666666;
}
