.hiddenTab {
     display: none;
}

.hiddenTabContent {
     display: none;
}

.overflowTab select {
     width: 7.2em;
     height: 19px;
     font-size: 90%;
}

#tabNavigation ul.row1 a.closeTabButton, #tabNavigation ul.row1 li.current a.closeTabButton, #tabNavigation ul.row1 li.overflowCurrent a.closeTabButton, #tabNavigation ul.row1 li.loading a.closeTabButton, #tabNavigation ul.row1 li.currentWithSecondRow a.closeTabButton, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow a.closeTabButton, #tabNavigation ul.row1 li.loadingWithSecondRow a.closeTabButton, #tabNavigation ul.currentSubTabs a.closeTabButton, #tabNavigation ul.currentSubTabs li.current a.closeTabButton, #tabNavigation ul.currentSubTabs li.overflowCurrent a.closeTabButton, #tabNavigation ul.currentSubTabs li.loading a.closeTabButton, #tabNavigation ul.currentSubTabs li.currentWithSecondRow a.closeTabButton, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow a.closeTabButton, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow a.closeTabButton {
     float: left;
     padding: 0.23em;
     padding-bottom: 0.1em; 
}

#tabNavigation ul.row1 a.closeTabText, #tabNavigation ul.row1 span.closeTabText, #tabNavigation ul.row1 li.current a.closeTabText, #tabNavigation ul.row1 li.overflowCurrent a.closeTabText, #tabNavigation ul.row1 li.loading a.closeTabText, #tabNavigation ul.row1 li.current span.closeTabText, #tabNavigation ul.row1 li.overflowCurrent span.closeTabText, #tabNavigation ul.row1 li.loading span.closeTabText, #tabNavigation ul.row1 li.currentWithSecondRow a.closeTabText, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow a.closeTabText, #tabNavigation ul.row1 li.loadingWithSecondRow a.closeTabText, #tabNavigation ul.row1 li.currentWithSecondRow span.closeTabText, #tabNavigation ul.row1 li.overflowCurrentWithSecondRow span.closeTabText, #tabNavigation ul.row1 li.loadingWithSecondRow span.closeTabText, #tabNavigation ul.currentSubTabs a.closeTabText, #tabNavigation ul.currentSubTabs span.closeTabText, #tabNavigation ul.currentSubTabs li.current a.closeTabText, #tabNavigation ul.currentSubTabs li.overflowCurrent a.closeTabText, #tabNavigation ul.currentSubTabs li.loading a.closeTabText, #tabNavigation ul.currentSubTabs li.current span.closeTabText, #tabNavigation ul.currentSubTabs li.overflowCurrent span.closeTabText, #tabNavigation ul.currentSubTabs li.loading span.closeTabText, #tabNavigation ul.currentSubTabs li.currentWithSecondRow a.closeTabText, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow a.closeTabText, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow a.closeTabText, #tabNavigation ul.currentSubTabs li.currentWithSecondRow span.closeTabText, #tabNavigation ul.currentSubTabs li.overflowCurrentWithSecondRow span.closeTabText, #tabNavigation ul.currentSubTabs li.loadingWithSecondRow span.closeTabText {
     float: left;
     padding-left: 0.2em;
}

#tabNavigation .row2,
#tabNavigation .row3 {
     background-color: #DCDCDC;
     border-left: 1px solid #B6B6B6;
     border-right: 1px solid #B6B6B6;
     background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0pt 0pt transparent;
     border-bottom: 0.1em solid #B6B6B6;
     padding: 0.7em 0pt 0pt 2em;
     border-top: 0 none;
}
#tabNavigation .row1 { 
	border-bottom: 1px solid #B6B6B6;
}
#tabNavigation .row1 { 
	border-bottom: 0 none;
}

#tabNavigation ul {
     border-width: 0pt;
     margin: 0pt;
     max-width: none;
     padding-left: 10px;
     zoom: 1; /* yup IE sucks */
}

#tabNavigation ul:after {
     clear: both;
     content: ".";
     display: block;
     height: 0pt;
     visibility: hidden;
}

#tabNavigation li {
	background-color: #c6c6c6;
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #B6B6B6 #B6B6B6 -moz-use-text-color;
	border-style: solid solid none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-width: 1px 1px 0pt;
	float: left;
	list-style-type: none;
	margin: 0pt 0.11em 0pt 0pt;
	white-space: nowrap;
}

#tabNavigation li a:link, #tabNavigation li a:visited {
     background: -moz-linear-gradient(center top , #EDEDED, #C4C4C4) repeat scroll 0pt 0pt transparent;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
     box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.6) inset;
     color: #4F4F4F;
     display: block;
     font-size: 0.9em;
     font-weight: bold;
     outline: medium none;
     padding: 0.25em 1em;
     text-decoration: none;
     text-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.5);
}

#tabNavigation li:hover {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     border-color: #6C6C6C #6C6C6C -moz-use-text-color;
     border-style: solid solid none;
     border-width: 1px 1px 0pt;
}

#tabNavigation li.currentWithSecondRow a, #tabNavigation li.overflowCurrentWithSecondRow a, #tabNavigation li.loadingWithSecondRow a, #tabNavigation li.current a {
     background-color: #dcdcdc;
     background-image: none;
     border-bottom: 1px solid #dcdcdc;
     color: #000000;
     cursor: text;
     margin-bottom: -1px;
}

#tabNavigation .row2 li {
	margin-bottom: -1px;
}

#tabNavigation .row2 li.current a {
	background-color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

#tabNavigation li.current:hover, #tabNavigation li.currentWithSecondRow:hover, #tabNavigation li.overflowCurrentWithSecondRow:hover, #tabNavigation li.loadingWithSecondRow:hover {
     border-color: #AEAEAE;
}

#tabNavigation li a:hover, #tabNavigation li a:active {
     color: #313131;
}

#tabNavigation li a {
     cursor: pointer;
     outline: medium none;
}
#tabNavigation li a:first-child {
	padding-left: 1em !important;
}

#bodyWrapper {
     border-color: #B6B6B6;
     border-style: none solid solid;
     border-width: 0pt 1px 1px;
}

#tabNavigation a.closeTabButton img { 
	padding-top: .12em; 
	border: 0 none;
}

#tabNavigation ul.row1 a.closeTabButton img {
	margin-top: 0 !important; /* not sure why this is in here but it wreaks havock in IE */ 
}